# https://gist.github.com/pksunkara/988716
# http://michaelwales.com/articles/make-gitconfig-work-for-you/


[user]
    name = partham16
    email = 43367843+partham16@users.noreply.github.com

[rerere]
	enabled = 1
	autoupdate = 1

[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
